<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFotoServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.UploadFotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdFotoServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.IdFotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.GreetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityJsonServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CityJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostCandidateJsonServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PostCandidateJsonServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.dream.filter.AuthFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/posts.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/candidates.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFotoServlet</servlet-name>
    <url-pattern>/upload_foto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdFotoServlet</servlet-name>
    <url-pattern>/id_foto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/city.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityJsonServlet</servlet-name>
    <url-pattern>/cityJson.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostCandidateJsonServlet</servlet-name>
    <url-pattern>/postCandidateJson.do</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>
